:root {
  --clr-primary-100: 0 0% 100%;

  --fs-200: 0.5rem;
  --fs-400: 1rem;
  --fs-600: 1.5rem;
  --fs-800: 2rem;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("Noto-Sans"),
    url("./assets/fonts/noto-sans-v27-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/noto-sans-v27-latin-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans"), local("Noto-Sans"),
    url("./assets/fonts/noto-sans-v27-latin-700.woff2") format("woff2"),
    url("./assets/fonts/noto-sans-v27-latin-700.woff") format("woff");
  font-display: swap;
}

/*  Edited version of CSS rest by Andy Bell */
/*  https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button,
input[type="”submit”"],
input[type="”reset”"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styles */

body {
  background-color: #f2f2f2;
}

*:disabled {
  cursor: not-allowed;
}

.create-comment-section {
  max-width: 35rem;
  margin-inline: auto;
}

.post-comment-btn {
  background-color: hsl(var(--clr-primary-100));
}
.post-comment-btn:disabled {
  background-color: #ebebeb;
}

/* components */

.btn {
  padding: 0.5rem 1.5rem;
}

.btn-small {
  padding: 0.25rem 0.75rem;
}

.btn:disabled,
.btn-small:disabled {
  color: hsl(0 0% 0% / 0.5);
}

.text-area {
  padding: 0.5rem;
  min-width: 100%;
  max-width: 100%;
}

/* utilities */

.clr-primary-100 {
  color: hsl(var(--clr-primary-100));
}
.bg-primary-100 {
  background-color: hsl(var(--clr-primary-100));
}

.fw-bold {
  font-weight: 700;
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-800 {
  font-size: var(--fs-800);
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}

.justify-self-start {
  justify-self: start;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-end {
  justify-self: end;
}
.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}

.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}

.m-block-1 {
  margin-block: 1rem;
}
.m-block-2 {
  margin-block: 2rem;
}
.m-block-3 {
  margin-block: 3rem;
}

.box-shadow-92 {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.container {
  max-width: 75rem;
  padding: 1rem;
  margin-inline: auto;
}
